/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
/*    padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*If you want the image to take up entire carousel then*/
/*.imgCarousel {
    width: 100%;
    height: auto;
}*/

/*If you dont want the image to stretch 100 %, then set your desired width(or dont, just specify margin) and margin auto:*/
.imgCarousel {
    width: 75%;
    margin: auto;
}
/* Agregado para TenMan */
/*:root {*/
    /*--color-navbar: #b200ff;*/
    /*--color-navbar: #070101;
    --color-navbar-text: pink;
}*/

/*.bg-navbar {
    background: var(--color-navbar);
    color: var(--color-navbar-text);
}
.nav.navbar-nav.navbar-right li a {
    color: var(--color-navbar-text);
}
.nav.navbar-nav li a {
    color: var(--color-navbar-text);
}
.navbar-brand {
    color: var(--color-navbar-text);
}*/
