/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    /*    padding-top: 50px;*/
    padding-bottom: 20px;
    /*background-color: #f4f6f8 !important;*/
    background-color: gray !important;
}
.main {
    /* margin-top: 50px;  altura del navbar */
    height: calc(100vh - 50px);
    display: flex;
}
.tenman-sidebar {
    width: 200px;
    /*background-color: #343a40;*/
    background-color: floralwhite;
    padding: 15px;
}
    .tenman-sidebar .nav > li > a {
        /*color: #adb5bd;*/
        color: black;
        border-radius: 4px;
        padding: 8px 12px;
        display: block;
    }

        .tenman-sidebar .nav > li > a:hover {
            /*background-color: #495057;*/
            background-color: #E3735E;
            color: #fff;
            text-decoration: none;
        }

    .tenman-sidebar .nav > li.active > a {
        background-color: #337ab7; /* azul Bootstrap 3 */
        color: #fff;
    }
.tenman-content {
    flex: 1;
    /*padding: 20px;
    background-color: #212529;*/
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    overflow-y: auto;
}
/* Navbar Color */
/*.navbar {
    background-color: #008080;
}
.navbar a {
    color: white !important;
}
    .navbar a:hover {
        color: black;
        background-color: darkkhaki !important;
    }

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333 !important;
    white-space: nowrap;
}
.dropdown-menu li a:focus {
    background-color: maroon;
}
*/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*If you want the image to take up entire carousel then*/
/*.imgCarousel {
    width: 100%;
    height: auto;
}*/

/*If you dont want the image to stretch 100 %, then set your desired width(or dont, just specify margin) and margin auto:*/
.imgCarousel {
    width: 75%;
    margin: auto;
}
/* Agregado para TenMan */
/*:root {*/
/*--color-navbar: #b200ff;*/
/*--color-navbar: #070101;
    --color-navbar-text: pink;
}*/

/*.bg-navbar {
    background: var(--color-navbar);
    color: var(--color-navbar-text);
}
.nav.navbar-nav.navbar-right li a {
    color: var(--color-navbar-text);
}
.nav.navbar-nav li a {
    color: var(--color-navbar-text);
}
.navbar-brand {
    color: var(--color-navbar-text);
}*/
.nav-retro {
    background: linear-gradient(#fff, #dcdcdc);
}