@model TenMan.Web.Data.Entities.Tenant

@{
    ViewData["Title"] = "Eliminar Locatario";
}

<h2>Eliminar Locatario</h2>

<h3>¿Está seguro que desea eliminar este locatario?</h3>
<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
