@model TenMan.Web.Models.CommitteeViewModel

@{
    ViewData["Title"] = "Agregar Consorcio";
}
<div class="tenman-pagedesc">
    <p class="tenman-title">Agregar Consorcios</p>
    <p class="text-muted">Desde aquí puedes agregar nuevos consorcios</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading tenman-panel-heading2">
        Nuevo Consorcio
    </div>
    <div class="panel-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neighborhood" class="control-label"></label>
                <input asp-for="Neighborhood" class="form-control" />
                <span asp-validation-for="Neighborhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUIT" class="control-label"></label>
                <input asp-for="CUIT" class="form-control" />
                <span asp-validation-for="CUIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuterhKey" class="control-label"></label>
                <input asp-for="SuterhKey" class="form-control" />
                <span asp-validation-for="SuterhKey" class="text-danger"></span>
            </div>
            @if (User.IsInRole("SuperAdmin")) {
            <div class="form-group">
                <label class="control-label">Administrador</label>
                <select asp-for="AdministratorId" asp-items="Model.Administrators" class="form-control"></select>
                @*<span asp-validation-for="TenantId" class="text-danger"></span>*@
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
